*{
margin: 0px;
padding: 0px;
}
nav {
    border-bottom:  3px solid rgb(228, 173, 21);
}
.div__modificado{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: var(--bs-gutter-x,4px);
    padding-left: var(--bs-gutter-x, 72rem);
    margin-right: auto;
    margin-left: auto;
}
nav img{
margin-left: 20px;
    width: 5%;
}
.div__main{
    padding: 50px 20px 0px 0px ;
    display: flex;
}
main div div div h1{
    text-align: center;
    padding-left: 10px;    }
main div div div  p{
    text-align: left;
    line-height: 1.2;   
}
main{
    border-bottom:  3px solid rgb(228, 173, 21);
}
.footer{
   
    
    padding: 1rem;  
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
aside{  
    line-height: 20px;
    display: flex;
    align-items:center; 
}
.conteiner2{
    display: flex;
    justify-content: center;
}
.row3{
    padding: 132px;
}
.row5{
    padding: 132px;
}
.row4{
    padding: 15px 0px 15px 0px;
}
h2{
    text-align: center;
}
h5{
    font-family:sans-serif;
}
.main__reserva__foto{
    padding: 10px 0pc 10px 10px;
}


















/*.header{   
    position: sticky;
    top: 0;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    grid-area: header;
    border-bottom: 3px solid rgb(255, 188, 18); 
}


.main__index h1:hover{
    transform: translate(20px,20px);
}
.main__index {
    grid-area: main;
    border-bottom: 3px solid rgb(255, 188, 18); 
    align-items: flex-end;
  padding: 11px 147px 0px 18px;
}
.main__youtube:hover{
    transform:scale(1.5) ;
}
.main__youtube{
    transition: all 0.5s;
    width: 537px;
    height: 410px;
    
}
.main__index h1 {
    margin-bottom: 1.5rem;
    font-size: 100px; 
    transition: all 1.2s;
     
}
.main__index p {
    line-height: 1.0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.header__icono {
    width: 247px;
    height: 282px;
}
.header__nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1rem;
}

.aside{
    border-bottom: 3px solid rgb(255, 188, 18); 
    grid-area: aside;
    line-height: 20px;
    display: flex;
    align-items:center; 
}

.aside ul{
    transition: all 0.5s;
}
.aside:hover{
    transform:scale(1.5) ;
}
.aside__youtube{
    grid-area: aside;
    border-bottom: 3px solid rgb(255, 188, 18); 
}

.footer{
    border-bottom: 3px solid rgb(255, 188, 18); 
    grid-area: footer;
    padding: 1rem;  
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.main__menu{
    border-bottom: 3px solid rgb(255, 188, 18); 
    grid-area: main;
    gap: 3rem  ; 
    padding: 2rem 0rem 2rem 5rem;
    
}
.main__menu div{
    display: flex;
    
    justify-content: center;
    }
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 200%;
    padding: 20px;
}


    /*GRID
.conteiner__grid{
    grid-column-gap: 10px;
   grid-row-gap: 15px;
    grid-template-rows: repeat(4, 1fr);   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header header header" 
    "main main aside" 
    "main main aside" 
    "footer footer footer";
}
<<<<<<< HEAD
@media (max-width: 3860px){
=======
@media (max-width: 3000px){
>>>>>>> 44a0497491fb690c44ada5a3091069bf76737366
.conteiner__grid{
   display: grid;
    grid-template-areas: 
   "header" 
   "main" 
   "aside"
   "footer";
}
.header__icono {
    width: 36%;
    height: 46%;
}
.header{
    width: 100%;
    height: 50%;
}
.aside{
   
    justify-content: space-evenly;
}
.main__menu{
    justify-content: space-evenly;
}
.main__menu__tragos{
    padding: 0 0 40px 35%;
}
.footer div{
    font-size: 100px;
}
.header__nav ul{
    font-size: 35px;
}  
.aside__youtube{
    width: auto;
    height: auto;
    border-bottom: 3px solid rgb(255, 188, 18); 
    padding: 0px 0px 24px 0px;

}
.main__index h1{
  font-size: 79px;
  padding: 0px 0px 13px 42px;
}
.main__index p{
    padding: 0px 0px 0px 43px;
}
}
