@import"../base/variables.scss";

.main__evento{
    @include posicion(flex,space-around,center);
    
}
.main__index {  
     @include posicion(flex,space-around , center);
 }
 
 
 .main__menu{     
    
     @include posicion(flex, space-around, center);
}

.main__reserva btn{
    :last-child{
        @include posicion(flex,row,center)
    }    
}
.main__reserva__foto {
    @include posicion(flex, space-around, center);
   }

.main__ubicacion__section1{
    @include posicion(flex,space-around,center)
}
.h1__index{
    font-size: map-get($tamaño, mediano );
    
}
.p__index{
    font-size: map-get($tamaño , chico );
}
@media (max-width:578px) {
    .main__reserva__foto{
       display: none;
    }
    .main__youtube{
        display: none;
    }
   .main__menu{
       display: inline-table;
   }
}
@media (max-width:1342px){
    .main__evento{
        display: inline-table;
    }
}
@media (max-width:702px){
    .main__evento{
        display: inline-table;
    }
    .main__section__eventos1 img{
        display: none;
    }
    .main__section__eventos2 img{
        display: none;
    }
}