@import"../base/variables.scss";
main{
    border: $borde
    

} 
.main__index{
     @include posicion(flex, space-around, center);
 }
 .main__menu{
     color:$colorletra;
     @extend %imagen__fondo;
     @extend %pading;
     @include posicion(flex, space-around, center);
}
.h1__index{
    font-size: map-get($tamaño, mediano );
}
.p__index{
    font-size: map-get($tamaño , chico );
}
