@import"../base/variables.scss";
.section__menu1{
    font-size: map-get($tamaño , chico );
}
.section__menu2{
    font-size: map-get($tamaño , chico );
}
.section__ubicacion1 h2{
   font-size: map-get($tamaño , mediano );
}
.section__youtube{
     @include posicion(flex, space-around, center);
}

