
//VARIABLES//

$color-fondo: rgb(211, 201, 201);



%pading {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

//MIXIN//
@mixin posicion ($display, $justi, $alig) {
    display: $display;
    justify-content: $justi;
    align-items: $alig;    
}

//MAPA//
$tamaño:(
    chico: 14px,
    mediano: 30px,
    grande: 70px,
);
 